# ----------------------------------------------------------------------
# Security Handle
# ----------------------------------------------------------------------

# Remove this or change htaccess to another redirect rule when non https
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# prevent all accesed start with dot(.) to accesed by external
<Files "^.+">
    order allow,deny
    deny from all
</Files>

# set default 403 forbidden into Current url
# best for seo features
ErrorDocument 403 /

# ----------------------------------------------------------------------
# Main Web Route
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # use main.php as indexing
    RewriteRule ^(.*)$ main.php [QSA,L]
    # handle index.html & main.php to solved as main.php
    RewriteRule ^(index\.s?html?|main\.php)?$ main.php [QSA,L]
</IfModule>
