/*!
 * Pentagonal Layout
 */
body {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.no-select::selection {
    background: none;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.alert {
    border-radius: 2px;
}
/* Cursor
 ---------------------------- */
.cursor-pointer {
    cursor: pointer;
}
.cursor-crosshair {
    cursor: crosshair;
}
.cursor-auto {
    cursor: auto;
}
.cursor-context-menu {
    cursor: context-menu;
}
.cursor-alias {
    cursor: alias;
}
.cursor-all-scroll {
    cursor: all-scroll;
}
.cursor-cell {
    cursor: cell;
}
.cursor-copy {
    cursor: copy;
}
.cursor-default {
    cursor: default;
}
.cursor-e-resize {
    cursor: e-resize;
}
.cursor-ew-resize {
    cursor: ew-resize;
}
.cursor-help {
    cursor: help;
}
.cursor-move {
    cursor: move;
}
.cursor-n-resize {
    cursor: n-resize;
}
.cursor-ne-resize {
    cursor: ne-resize;
}
.cursor-nesw-resize {
    cursor: nesw-resize;
}
.cursor-no-drop {
    cursor: no-drop;
}
.cursor-none {
    cursor: none;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-ns-resize {
    cursor: ns-resize;
}
.cursor-nw-resize {
    cursor: nw-resize;
}
.cursor-nwse-resize {
    cursor: nwse-resize;
}
.cursor-progress {
    cursor: progress;
}
.cursor-row-resize {
    cursor: row-resize;
}
.cursor-s-resize {
    cursor: s-resize;
}
.cursor-se-resize {
    cursor: se-resize;
}
.cursor-sw-resize {
    cursor: sw-resize;
}
.cursor-text {
    cursor: text;
}
.cursor-vertical-text {
    cursor: vertical-text;
}
.cursor-w-resize {
    cursor: w-resize;
}
.cursor-wait {
    cursor: wait;
}
.cursor-zoom-in {
    cursor: zoom-in;
}
.cursor-zoom-out {
    cursor: zoom-out;
}

/* Display
 ---------------------------- */
.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.display-inline {
    display: inline;
}
.display-inherit {
    display: inherit;
}

/* Label
 ---------------------------- */
.label {
    border-radius: .15em;
    padding: .25em .6em .25em;
}
.label-pantone-blue {
    background-color: #21759b;
}
.label-orange {
    background-color: #d54e21;
}
.label-monokai {
    background-color: #0d1011;
}
.label-monokai-lite {
    background-color: #2d2f39;
}
.label-white-gray {
    color: inherit;
    background-color: #f1f1f1;
}
.label-standard {
    background-color: #555;
}
.label-black {
    background-color: #000;
}
.label-white {
    color: inherit;
    background-color: #fff;
}
.label-darkcyan {
    background-color: #008b8b;
}
.label-crimson {
    background-color: #dc143c;
}
.label-azure {
    color: inherit;
    background-color:#f0ffff;
}
.label-aliceblue {
    color: inherit;
    background-color: #f0f8ff;
}
.label-aqua {
    background-color: #00ffff;
}

/* Button
 ---------------------------- */
.form-control {
    height: 40px;
}
/* sizing */
.form-control,
.input-group-addon,
.btn,
.btn .badge,
.btn-group > .btn .badge,
.btn-group > .btn,
.form-group .form-control,
.pagination > li > a,
.pagination > li > span,
.input-group-addon.input,
.input-group > .form-control,
.input-group > .input-group-addon,
.input-group > .input-group-btn > .btn {
    padding: 6px 13px;
}
.btn-sm,
.btn-group-sm > .btn,
.input-sm,
.btn-sm .badge,
.btn-group-sm > .btn .badge,
.form-group-sm .form-control,
.pagination-sm > li > a,
.pagination-sm > li > span,
.input-group-addon.input-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    padding: 4px 11px;
}
.btn-lg,
.btn-lg .badge,
.btn-group-lg > .btn .badge,
.btn-group-lg > .btn,
.input-lg,
.form-group-lg .form-control,
.pagination-lg > li > a,
.pagination-lg > li > span,
.input-group-addon.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    padding: 8px 18px;
}
.btn-xs,
.btn-xs .badge,
.btn-group-xs > .btn .badge,
.btn-group-xs > .btn,
.input-xs,
.form-group-xs .form-control,
.pagination-xs > li > a,
.pagination-xs > li > span,
.input-group-addon.input-xs,
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
    padding: 2px 6px;
}

/* override & sizing */
.btn {
    background: none;
    background-color: transparent;
    border: 3px solid;
    font-size: 16px;
}
.btn-lg {
    font-size: 21px;
    border: 4px solid;
}
.btn-sm,
.btn-xs {
    font-size: 12px;
    border: 2px solid;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0 !important;
}

/* default */
.btn-default {
    background: none;
    background-color: transparent;
    color: #ccc;
    border-color: #ccc;
}
.btn-default:hover {
    background: none;
    background-color: transparent;
    color: #adadad;
    border-color: #adadad;
}
.btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active.focus,
.btn-default.active.focus,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus {
    background: none;
    background-color: transparent;
    color: #8c8c8c;
    border-color: #8c8c8c;
}

/* primary */
.btn-primary {
    background: none;
    background-color: transparent;
    color: #2e6da4;
    border-color: #2e6da4;
}
.btn-primary:hover {
    background: none;
    background-color: transparent;
    color: #204d74;
    border-color: #204d74;
}
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus {
    background: none;
    background-color: transparent;
    color: #122b40;
    border-color: #122b40;
}

/* success */
.btn-success {
    background: none;
    background-color: transparent;
    color: #4cae4c;
    border-color: #4cae4c;
}
.btn-success:hover {
    background: none;
    background-color: transparent;
    color: #255625;
    border-color: #255625;
}
.btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.btn-success.focus,
.btn-success:active.focus,
.btn-success.active.focus,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus {
    background: none;
    background-color: transparent;
    color: #398439;
    border-color: #398439;
}

/* info */
.btn-info {
    background: none;
    background-color: transparent;
    color: #46b8da;
    border-color: #46b8da;
}
.btn-info:hover {
    background: none;
    background-color: transparent;
    color: #269abc;
    border-color: #269abc;
}
.btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info.focus,
.btn-info:active.focus,
.btn-info.active.focus,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus {
    background: none;
    background-color: transparent;
    color: #1b6d85;
    border-color: #1b6d85;
}

/* warning */
.btn-warning {
    background: none;
    background-color: transparent;
    color: #eea236;
    border-color: #eea236;
}
.btn-warning:hover {
    background: none;
    background-color: transparent;
    color: #d58512;
    border-color: #d58512;
}
.btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.btn-warning.focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus {
    background: none;
    background-color: transparent;
    color: #985f0d;
    border-color: #985f0d;
}

/* danger */
.btn-danger {
    background: none;
    background-color: transparent;
    color: #d43f3a;
    border-color: #d43f3a;
}
.btn-danger:hover {
    background: none;
    background-color: transparent;
    color: #ac2925;
    border-color: #ac2925;
}
.btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger.focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus {
    background: none;
    background-color: transparent;
    color: #761c19;
    border-color: #761c19;
}

/* pantone-blue */
.btn-pantone-blue {
    background: none;
    background-color: transparent;
    color: #227da8;
    border-color: #227da8;
}
.btn-pantone-blue:hover {
    background: none;
    background-color: transparent;
    color: #21759b;
    border-color: #21759b;
}
.btn-pantone-blue:focus,
.btn-pantone-blue:active:focus,
.btn-pantone-blue.active:focus,
.btn-pantone-blue.focus,
.btn-pantone-blue:active.focus,
.btn-pantone-blue.active.focus,
.btn-pantone-blue[disabled],
.btn-pantone-blue[disabled]:hover,
.btn-pantone-blue[disabled]:focus,
.btn-pantone-blue.disabled,
.btn-pantone-blue.disabled:hover,
.btn-pantone-blue.disabled:focus {
    background: none;
    background-color: transparent;
    color: #1c678a;
    border-color: #1c678a;
}

/* orange */
.btn-orange {
    background: none;
    background-color: transparent;
    color: #de642a;
    border-color: #de642a;
}
.btn-orange:hover {
    background: none;
    background-color: transparent;
    color: #d54e21;
    border-color: #d54e21;
}
.btn-orange:focus,
.btn-orange:active:focus,
.btn-orange.active:focus,
.btn-orange.focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.btn-orange[disabled],
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange.disabled,
.btn-orange.disabled:hover,
.btn-orange.disabled:focus {
    background: none;
    background-color: transparent;
    color: #bb441e;
    border-color: #bb441e;
}

/* monokai */
.btn-monokai {
    background: none;
    background-color: transparent;
    color: #181d1f;
    border-color: #181d1f;
}
.btn-monokai:hover {
    background: none;
    background-color: transparent;
    color: #0d1011;
    border-color: #0d1011;
}
.btn-monokai:focus,
.btn-monokai:active:focus,
.btn-monokai.active:focus,
.btn-monokai.focus,
.btn-monokai:active.focus,
.btn-monokai.active.focus,
.btn-monokai[disabled],
.btn-monokai[disabled]:hover,
.btn-monokai[disabled]:focus,
.btn-monokai.disabled,
.btn-monokai.disabled:hover,
.btn-monokai.disabled:focus {
    background: none;
    background-color: transparent;
    color: #0b0e0f;
    border-color: #0b0e0f;
}

/* monokai-lite */
.btn-monokai-lite {
    background: none;
    background-color: transparent;
    color: #373a47;
    border-color: #373a47;
}
.btn-monokai-lite:hover {
    background: none;
    background-color: transparent;
    color: #2d2f39;
    border-color: #2d2f39;
}
.btn-monokai-lite:focus,
.btn-monokai-lite:active:focus,
.btn-monokai-lite.active:focus,
.btn-monokai-lite.focus,
.btn-monokai-lite:active.focus,
.btn-monokai-lite.active.focus,
.btn-monokai-lite[disabled],
.btn-monokai-lite[disabled]:hover,
.btn-monokai-lite[disabled]:focus,
.btn-monokai-lite.disabled,
.btn-monokai-lite.disabled:hover,
.btn-monokai-lite.disabled:focus {
    background: none;
    background-color: transparent;
    color: #21232b;
    border-color: #21232b;
}

/* white-gray */
.btn-white-gray {
    background: none;
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
}
.btn-white-gray:hover {
    background: none;
    background-color: transparent;
    color: #f1f1f1;
    border-color: #f1f1f1;
}
.btn-white-gray:focus,
.btn-white-gray:active:focus,
.btn-white-gray.active:focus,
.btn-white-gray.focus,
.btn-white-gray:active.focus,
.btn-white-gray.active.focus,
.btn-white-gray[disabled],
.btn-white-gray[disabled]:hover,
.btn-white-gray[disabled]:focus,
.btn-white-gray.disabled,
.btn-white-gray.disabled:hover,
.btn-white-gray.disabled:focus {
    background: none;
    background-color: transparent;
    color: #eee;
    border-color: #eee;
}

/* white */
.btn-white {
    background: none;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.btn-white:hover {
    background: none;
    background-color: transparent;
    color: #f7f7f7;
    border-color: #f7f7f7;
}
.btn-white:focus,
.btn-white:active:focus,
.btn-white.active:focus,
.btn-white.focus,
.btn-white:active.focus,
.btn-white.active.focus,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus {
    background: none;
    background-color: transparent;
    color: #f4f4f4;
    border-color: #f4f4f4;
}

/* darkcyan */
.btn-darkcyan {
    background: none;
    background-color: transparent;
    color: #00a7a7;
    border-color: #00a7a7;
}
.btn-darkcyan:hover {
    background: none;
    background-color: transparent;
    color: #008b8b;
    border-color: #008b8b;
}
.btn-darkcyan:focus,
.btn-darkcyan:active:focus,
.btn-darkcyan.active:focus,
.btn-darkcyan.focus,
.btn-darkcyan:active.focus,
.btn-darkcyan.active.focus,
.btn-darkcyan[disabled],
.btn-darkcyan[disabled]:hover,
.btn-darkcyan[disabled]:focus,
.btn-darkcyan.disabled,
.btn-darkcyan.disabled:hover,
.btn-darkcyan.disabled:focus {
    background: none;
    background-color: transparent;
    color: #008282;
    border-color: #008282;
}

/* dusty-teal */
.btn-dusty-teal {
    background: none;
    background-color: transparent;
    color: #4f9da7;
    border-color: #4f9da7;
}
.btn-dusty-teal:hover {
    background: none;
    background-color: transparent;
    color: #468890;
    border-color: #468890;
}
.btn-dusty-teal:focus,
.btn-dusty-teal:active:focus,
.btn-dusty-teal.active:focus,
.btn-dusty-teal.focus,
.btn-dusty-teal:active.focus,
.btn-dusty-teal.active.focus,
.btn-dusty-teal[disabled],
.btn-dusty-teal[disabled]:hover,
.btn-dusty-teal[disabled]:focus,
.btn-dusty-teal.disabled,
.btn-dusty-teal.disabled:hover,
.btn-dusty-teal.disabled:focus {
    background: none;
    background-color: transparent;
    color: #407e86;
    border-color: #407e86;
}

/* crimson */
.btn-crimson {
    background: none;
    background-color: transparent;
    color: #dc2f44;
    border-color: #dc2f44;
}
.btn-crimson:hover {
    background: none;
    background-color: transparent;
    color: #dc143c;
    border-color: #dc143c;
}
.btn-crimson:focus,
.btn-crimson:active:focus,
.btn-crimson.active:focus,
.btn-crimson.focus,
.btn-crimson:active.focus,
.btn-crimson.active.focus,
.btn-crimson[disabled],
.btn-crimson[disabled]:hover,
.btn-crimson[disabled]:focus,
.btn-crimson.disabled,
.btn-crimson.disabled:hover,
.btn-crimson.disabled:focus {
    background: none;
    background-color: transparent;
    color: #c91438;
    border-color: #c91438;
}

/* azure */
.btn-azure {
    background: none;
    background-color: transparent;
    color: #f0ffff;
    border-color: #f0ffff;
}
.btn-azure:hover {
    background: none;
    background-color: transparent;
    color: #e1f0f0;
    border-color: #e1f0f0;
}
.btn-azure:focus,
.btn-azure:active:focus,
.btn-azure.active:focus,
.btn-azure.focus,
.btn-azure:active.focus,
.btn-azure.active.focus,
.btn-azure[disabled],
.btn-azure[disabled]:hover,
.btn-azure[disabled]:focus,
.btn-azure.disabled,
.btn-azure.disabled:hover,
.btn-azure.disabled:focus {
    background: none;
    background-color: transparent;
    color: #daeaea;
    border-color: #daeaea;
}

/* aliceblue */
.btn-aliceblue {
    background: none;
    background-color: transparent;
    color: #f0f8ff;
    border-color: #f0f8ff;
}
.btn-aliceblue:hover {
    background: none;
    background-color: transparent;
    color: #e8f2f9;
    border-color: #e8f2f9;
}
.btn-aliceblue:focus,
.btn-aliceblue:active:focus,
.btn-aliceblue.active:focus,
.btn-aliceblue.focus,
.btn-aliceblue:active.focus,
.btn-aliceblue.active.focus,
.btn-aliceblue[disabled],
.btn-aliceblue[disabled]:hover,
.btn-aliceblue[disabled]:focus,
.btn-aliceblue.disabled,
.btn-aliceblue.disabled:hover,
.btn-aliceblue.disabled:focus {
    background: none;
    background-color: transparent;
    color: #e1ecf3;
    border-color: #e1ecf3;
}

/* aqua */
.btn-aqua {
    background: none;
    background-color: transparent;
    color: #00ffff;
    border-color: #00ffff;
}
.btn-aqua:hover {
    background: none;
    background-color: transparent;
    color: #00eaea;
    border-color: #00eaea;
}
.btn-aqua:focus,
.btn-aqua:active:focus,
.btn-aqua.active:focus,
.btn-aqua.focus,
.btn-aqua:active.focus,
.btn-aqua.active.focus,
.btn-aqua[disabled],
.btn-aqua[disabled]:hover,
.btn-aqua[disabled]:focus,
.btn-aqua.disabled,
.btn-aqua.disabled:hover,
.btn-aqua.disabled:focus {
    background: none;
    background-color: transparent;
    color: #00e3e3;
    border-color: #00e3e3;
}

/* Positioning
 ---------------------------- */
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.absolute-full {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    height:100%;
    width: 100%;
}
.absolute-bottom {
    position: absolute;
    bottom:0;
}
.absolute-width {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
.absolute-height {
    position: absolute;
    top:0;
    bottom: 0;
    height:100vh;
}
.bottom-25 {
    bottom: 25vh;
}
.bottom-50 {
    bottom: 50vh;
}
.z-index-0 {
    z-index: 0;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.full-screen {
    max-width: 100%;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.width-10 {
    width: 10px;
}
.height-10 {
    height: 10px;
}
.width-15 {
    width: 15px;
}
.height-15 {
    height: 14px;
}
.width-20 {
    width: 20px;
}
.height-20 {
    height: 20px;
}
.width-25 {
    width: 25px;
}
.height-25 {
    height: 25px;
}
.width-30 {
    width: 30px;
}
.height-30 {
    height: 30px;
}
.no-padding,
.padding-0 {
    padding: 0;
}
.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-15 {
    padding: 15px;
}
.padding-20 {
    padding: 20px;
}
.padding-bottom-0 {
    padding-bottom: 0px;   
}
.padding-bottom-5 {
    padding-bottom: 5px;   
}
.padding-bottom-10 {
    padding-bottom: 10px;   
}
.padding-bottom-15 {
    padding-bottom: 15px;   
}
.padding-bottom-20 {
    padding-bottom: 20px;   
}
.padding-bottom-25 {
    padding-bottom: 25px;   
}
.padding-top-0 {
    padding-top: 0px;   
}
.padding-top-5 {
    padding-top: 5px;   
}
.padding-top-10 {
    padding-top: 10px;   
}
.padding-top-15 {
    padding-top: 15px;   
}
.padding-top-20 {
    padding-top: 20px;   
}
.padding-top-25 {
    padding-top: 25px;   
}
.margin-bottom-0 {
    margin-bottom: 0px;   
}
.margin-bottom-5 {
    margin-bottom: 5px;   
}
.margin-bottom-10 {
    margin-bottom: 10px;   
}
.margin-bottom-15 {
    margin-bottom: 15px;   
}
.margin-bottom-20 {
    margin-bottom: 20px;   
}
.margin-bottom-25 {
    margin-bottom: 25px;   
}
.margin-top-0 {
    margin-top: 0px;   
}
.margin-top-5 {
    margin-top: 5px;   
}
.margin-top-10 {
    margin-top: 10px;   
}
.margin-top-15 {
    margin-top: 15px;   
}
.margin-top-20 {
    margin-top: 20px;   
}
.margin-top-25 {
    margin-top: 25px;   
}
.margin-bottom-0vh {
    margin-bottom: 0vh;   
}
.margin-bottom-5vh {
    margin-bottom: 5vh;   
}
.margin-bottom-10vh {
    margin-bottom: 10vh;   
}
.margin-bottom-15vh {
    margin-bottom: 15vh;   
}
.margin-bottom-20vh {
    margin-bottom: 20vh;   
}
.margin-bottom-25vh {
    margin-bottom: 25vh;   
}
.margin-top-0vh {
    margin-top: 0vh;   
}
.margin-top-5vh {
    margin-top: 5vh;   
}
.margin-top-10vh {
    margin-top: 10vh;   
}
.margin-top-15vh {
    margin-top: 15vh;   
}
.margin-top-20vh {
    margin-top: 20vh;   
}
.margin-top-25vh {
    margin-top: 25vh;   
}

/* Text Sizes & misc
 ---------------------------- */
.no-repeat {
    background-repeat: no-repeat;
}
.repeat-y {
    background-repeat: repeat-y;
}
.repeat-x {
    background-repeat: repeat-x;
}
.repeat-x.repeat-y,
.repeat {
    background-repeat: repeat;
}
.size-cover {
    background-size: cover;
}
.size-contain {
    background-size: contain;
}
.bg-position-center {
    background-position: center;
}
.bg-position-left {
    background-position: left;
}
.bg-position-right {
    background-position: right;
}
.bg-attachment-fixed {
    background-attachment: fixed;
}
.bg-attachment-scroll {
    background-attachment: scroll;
}
.bg-attachment-local {
    background-attachment: local;
}
.bg-attachment-revert {
    background-attachment: revert;
}
.text-lite {
    font-weight: 300;
}
.text-normal {
    font-weight: 400;
}
.text-bold {
    font-weight: 700;
}
.no-decoration {
    text-decoration: none;
}
.no-list-style {
    list-style: none;
}
.letter-spacing-1 {
    letter-spacing: 1px;
}
.letter-spacing-2 {
    letter-spacing: 2px;
}
.letter-spacing-3 {
    letter-spacing: 3px;
}
.border-5 {
    border-width: 5px;
}
.border-4 {
    border-width: 4px;
}
.border-3 {
    border-width: 3px;
}
.border-2 {
    border-width: 2px;
}
.border-1 {
    border-width: 1px;
}
.border-0 {
    border-width: 0px;
}
/* Coloring
 ---------------------------- */
.text-pantone-blue {
    color: #21759b;
}
.bg-pantone-blue {
    background-color: #21759b;
}
.bg-pantone-blue-transparent-1 {
    background-color: rgba(33,177, 155, .1);
}
.bg-pantone-blue-transparent-2 {
    background-color: rgba(33,177, 155, .2);
}
.bg-pantone-blue-transparent-3 {
    background-color: rgba(33,177, 155, .3);
}
.bg-pantone-blue-transparent-4 {
    background-color: rgba(33,177, 155, .4);
}
.bg-pantone-blue-transparent-5 {
    background-color: rgba(33,177, 155, .5);
}
.bg-pantone-blue-transparent-6 {
    background-color: rgba(33,177, 155, .6);
}
.bg-pantone-blue-transparent-7 {
    background-color: rgba(33,177, 155, .7);
}
.bg-pantone-blue-transparent-8 {
    background-color: rgba(33,177, 155, .8);
}
.bg-pantone-blue-transparent-9 {
    background-color: rgba(33,177, 155, .9);
}
.text-orange {
    color: #d54e21;
}
.bg-orange {
    background-color: #d54e21;
}
.bg-orange-transparent-1 {
    background-color: rgba(213, 78, 33, .1);
}
.bg-orange-transparent-2 {
    background-color: rgba(213, 78, 33, .2);
}
.bg-orange-transparent-3 {
    background-color: rgba(213, 78, 33, .3);
}
.bg-orange-transparent-4 {
    background-color: rgba(213, 78, 33, .4);
}
.bg-orange-transparent-5 {
    background-color: rgba(213, 78, 33, .5);
}
.bg-orange-transparent-6 {
    background-color: rgba(213, 78, 33, .6);
}
.bg-orange-transparent-7 {
    background-color: rgba(213, 78, 33, .7);
}
.bg-orange-transparent-8 {
    background-color: rgba(213, 78, 33, .8);
}
.bg-orange-transparent-9 {
    background-color: rgba(213, 78, 33, .9);
}
.text-monokai {
    color: #0d1011;
}
.bg-monokai {
    background-color: #0d1011;
}
.bg-monokai-transparent-1 {
    background-color: rgba(13, 16, 17, .1);
}
.bg-monokai-transparent-2 {
    background-color: rgba(13, 16, 17, .2);
}
.bg-monokai-transparent-3 {
    background-color: rgba(13, 16, 17, .3);
}
.bg-monokai-transparent-4 {
    background-color: rgba(13, 16, 17, .4);
}
.bg-monokai-transparent-5 {
    background-color: rgba(13, 16, 17, .5);
}
.bg-monokai-transparent-6 {
    background-color: rgba(13, 16, 17, .6);
}
.bg-monokai-transparent-7 {
    background-color: rgba(13, 16, 17, .7);
}
.bg-monokai-transparent-8 {
    background-color: rgba(13, 16, 17, .8);
}
.bg-monokai-transparent-9 {
    background-color: rgba(13, 16, 17, .9);
}
.text-monokai-lite {
    color: #2d2f39;
}
.bg-monokai-lite {
    background-color: #2d2f39;
}
.bg-monokai-lite-transparent-1 {
    background-color: rgba(45, 47, 57, .1);
}
.bg-monokai-lite-transparent-2 {
    background-color: rgba(45, 47, 57, .2);
}
.bg-monokai-lite-transparent-3 {
    background-color: rgba(45, 47, 57, .3);
}
.bg-monokai-lite-transparent-4 {
    background-color: rgba(45, 47, 57, .4);
}
.bg-monokai-lite-transparent-5 {
    background-color: rgba(45, 47, 57, .5);
}
.bg-monokai-lite-transparent-6 {
    background-color: rgba(45, 47, 57, .6);
}
.bg-monokai-lite-transparent-7 {
    background-color: rgba(45, 47, 57, .7);
}
.bg-monokai-lite-transparent-8 {
    background-color: rgba(45, 47, 57, .8);
}
.bg-monokai-lite-transparent-9 {
    background-color: rgba(45, 47, 57, .9);
}
.text-white-gray {
    color: #f1f1f1;
}
.bg-white-gray {
    background-color: #f1f1f1;
}
.bg-white-gray-transparent-1 {
    background-color: rgba(241, 241, 241, .1);
}
.bg-white-gray-transparent-2 {
    background-color: rgba(241, 241, 241, .2);
}
.bg-white-gray-transparent-3 {
    background-color: rgba(241, 241, 241, .3);
}
.bg-white-gray-transparent-4 {
    background-color: rgba(241, 241, 241, .4);
}
.bg-white-gray-transparent-5 {
    background-color: rgba(241, 241, 241, .5);
}
.bg-white-gray-transparent-6 {
    background-color: rgba(241, 241, 241, .6);
}
.bg-white-gray-transparent-7 {
    background-color: rgba(241, 241, 241, .7);
}
.bg-white-gray-transparent-8 {
    background-color: rgba(241, 241, 241, .8);
}
.bg-white-gray-transparent-9 {
    background-color: rgba(241, 241, 241, .9);
}
.text-standard {
    color: #555;
}
.bg-standard {
    background-color: #555;
}
.bg-standard-transparent-1 {
    background-color: rgba(855, 855, 855, .1);
}
.bg-standard-transparent-2 {
    background-color: rgba(855, 855, 855, .2);
}
.bg-standard-transparent-3 {
    background-color: rgba(855, 855, 855, .3);
}
.bg-standard-transparent-4 {
    background-color: rgba(855, 855, 855, .4);
}
.bg-standard-transparent-5 {
    background-color: rgba(855, 855, 855, .5);
}
.bg-standard-transparent-6 {
    background-color: rgba(855, 855, 855, .6);
}
.bg-standard-transparent-7 {
    background-color: rgba(855, 855, 855, .7);
}
.bg-standard-transparent-8 {
    background-color: rgba(855, 855, 855, .8);
}
.bg-standard-transparent-9 {
    background-color: rgba(855, 855, 855, .9);
}
.text-black {
    color: #000;
}
.bg-black {
    background-color: #000;
}
.bg-black-transparent-1 {
    background-color: rgba(0, 0, 0, .1);
}
.bg-black-transparent-2 {
    background-color: rgba(0, 0, 0, .2);
}
.bg-black-transparent-3 {
    background-color: rgba(0, 0, 0, .3);
}
.bg-black-transparent-4 {
    background-color: rgba(0, 0, 0, .4);
}
.bg-black-transparent-5 {
    background-color: rgba(0, 0, 0, .5);
}
.bg-black-transparent-6 {
    background-color: rgba(0, 0, 0, .6);
}
.bg-black-transparent-7 {
    background-color: rgba(0, 0, 0, .7);
}
.bg-black-transparent-8 {
    background-color: rgba(0, 0, 0, .8);
}
.bg-black-transparent-9 {
    background-color: rgba(0, 0, 0, .9);
}
.text-white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
.bg-white-transparent-1 {
    background-color: rgba(255, 255, 255, .1);
}
.bg-white-transparent-2 {
    background-color: rgba(255, 255, 255, .2);
}
.bg-white-transparent-3 {
    background-color: rgba(255, 255, 255, .3);
}
.bg-white-transparent-4 {
    background-color: rgba(255, 255, 255, .4);
}
.bg-white-transparent-5 {
    background-color: rgba(255, 255, 255, .5);
}
.bg-white-transparent-6 {
    background-color: rgba(255, 255, 255, .6);
}
.bg-white-transparent-7 {
    background-color: rgba(255, 255, 255, .7);
}
.bg-white-transparent-8 {
    background-color: rgba(255, 255, 255, .8);
}
.bg-white-transparent-9 {
    background-color: rgba(255, 255, 255, .9);
}
.text-darkcyan {
    color: #008b8b;
}
.bg-darkcyan {
    background-color: #008b8b;
}
.bg-darkcyan-transparent-1 {
    background-color: rgba(0, 139, 139, .1);
}
.bg-darkcyan-transparent-2 {
    background-color: rgba(0, 139, 139, .2);
}
.bg-darkcyan-transparent-3 {
    background-color: rgba(0, 139, 139, .3);
}
.bg-darkcyan-transparent-4 {
    background-color: rgba(0, 139, 139, .4);
}
.bg-darkcyan-transparent-5 {
    background-color: rgba(0, 139, 139, .5);
}
.bg-darkcyan-transparent-6 {
    background-color: rgba(0, 139, 139, .6);
}
.bg-darkcyan-transparent-7 {
    background-color: rgba(0, 139, 139, .7);
}
.bg-darkcyan-transparent-8 {
    background-color: rgba(0, 139, 139, .8);
}
.bg-darkcyan-transparent-9 {
    background-color: rgba(0, 139, 139, .9);
}
.text-dusty-teal {
    color: #468890;
}
.bg-dusty-teal {
    background-color: #468890;
}
.bg-dusty-teal-transparent-1 {
    background-color: rgba(70, 136, 144, .1);
}
.bg-dusty-teal-transparent-2 {
    background-color: rgba(70, 136, 144, .2);
}
.bg-dusty-teal-transparent-3 {
    background-color: rgba(70, 136, 144, .3);
}
.bg-dusty-teal-transparent-4 {
    background-color: rgba(70, 136, 144, .4);
}
.bg-dusty-teal-transparent-5 {
    background-color: rgba(70, 136, 144, .5);
}
.bg-dusty-teal-transparent-6 {
    background-color: rgba(70, 136, 144, .6);
}
.bg-dusty-teal-transparent-7 {
    background-color: rgba(70, 136, 144, .7);
}
.bg-dusty-teal-transparent-8 {
    background-color: rgba(70, 136, 144, .8);
}
.bg-dusty-teal-transparent-9 {
    background-color: rgba(70, 136, 144, .9);
}
.text-aqua {
    color: #00ffff;
}
.bg-aqua {
    background-color: #00ffff;
}
.bg-aqua-transparent-1 {
    background-color: rgba(0, 255, 255, .1);
}
.bg-aqua-transparent-2 {
    background-color: rgba(0, 255, 255, .2);
}
.bg-aqua-transparent-3 {
    background-color: rgba(0, 255, 255, .3);
}
.bg-aqua-transparent-4 {
    background-color: rgba(0, 255, 255, .4);
}
.bg-aqua-transparent-5 {
    background-color: rgba(0, 255, 255, .5);
}
.bg-aqua-transparent-6 {
    background-color: rgba(0, 255, 255, .6);
}
.bg-aqua-transparent-7 {
    background-color: rgba(0, 255, 255, .7);
}
.bg-aqua-transparent-8 {
    background-color: rgba(0, 255, 255, .8);
}
.bg-aqua-transparent-9 {
    background-color: rgba(0, 255, 255, .9);
}
.text-crimson {
    color: #dc143c;
}
.bg-crimson {
    background-color: #dc143c;
}
.bg-crimson-transparent-1 {
    background-color: rgba(220, 20, 60, .1);
}
.bg-crimson-transparent-2 {
    background-color: rgba(220, 20, 60, .2);
}
.bg-crimson-transparent-3 {
    background-color: rgba(220, 20, 60, .3);
}
.bg-crimson-transparent-4 {
    background-color: rgba(220, 20, 60, .4);
}
.bg-crimson-transparent-5 {
    background-color: rgba(220, 20, 60, .5);
}
.bg-crimson-transparent-6 {
    background-color: rgba(220, 20, 60, .6);
}
.bg-crimson-transparent-7 {
    background-color: rgba(220, 20, 60, .7);
}
.bg-crimson-transparent-8 {
    background-color: rgba(220, 20, 60, .8);
}
.bg-crimson-transparent-9 {
    background-color: rgba(220, 20, 60, .9);
}
.text-azure {
    color:#f0ffff;
}
.bg-azure {
    background-color:#f0ffff;
}
.bg-azure-transparent-1 {
    background-color: rgba(240, 255, 255, .1);
}
.bg-azure-transparent-2 {
    background-color: rgba(240, 255, 255, .2);
}
.bg-azure-transparent-3 {
    background-color: rgba(240, 255, 255, .3);
}
.bg-azure-transparent-4 {
    background-color: rgba(240, 255, 255, .4);
}
.bg-azure-transparent-5 {
    background-color: rgba(240, 255, 255, .5);
}
.bg-azure-transparent-6 {
    background-color: rgba(240, 255, 255, .6);
}
.bg-azure-transparent-7 {
    background-color: rgba(240, 255, 255, .7);
}
.bg-azure-transparent-8 {
    background-color: rgba(240, 255, 255, .8);
}
.bg-azure-transparent-9 {
    background-color: rgba(240, 255, 255, .9);
}
.text-aliceblue {
    color: #f0f8ff;
}
.bg-aliceblue {
    background-color: #f0f8ff;
}
.bg-aliceblue-transparent-1 {
    background-color: rgba(240, 248, 255, .1);
}
.bg-aliceblue-transparent-2 {
    background-color: rgba(240, 248, 255, .2);
}
.bg-aliceblue-transparent-3 {
    background-color: rgba(240, 248, 255, .3);
}
.bg-aliceblue-transparent-4 {
    background-color: rgba(240, 248, 255, .4);
}
.bg-aliceblue-transparent-5 {
    background-color: rgba(240, 248, 255, .5);
}
.bg-aliceblue-transparent-6 {
    background-color: rgba(240, 248, 255, .6);
}
.bg-aliceblue-transparent-7 {
    background-color: rgba(240, 248, 255, .7);
}
.bg-aliceblue-transparent-8 {
    background-color: rgba(240, 248, 255, .8);
}
.bg-aliceblue-transparent-9 {
    background-color: rgba(240, 248, 255, .9);
}
.transparent-9 {
    opacity: .9;
    filter: alpha(opacity=90);
}
.transparent-8 {
    opacity: .8;
    filter: alpha(opacity=80);
}
.transparent-7 {
    opacity: .7;
    filter: alpha(opacity=70);
}
.transparent-6 {
    opacity: .6;
    filter: alpha(opacity=60);
}
.transparent-5 {
    opacity: .5;
    filter: alpha(opacity=50);
}
.transparent-4 {
    opacity: .4;
    filter: alpha(opacity=40);
}
.transparent-3 {
    opacity: .3;
    filter: alpha(opacity=30);
}
.transparent-2 {
    opacity: .2;
    filter: alpha(opacity=20);
}
.transparent-1 {
    opacity: .1;
    filter: alpha(opacity=10);
}
.transparent {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Type Animation & Selector
 ---------------------------- */
#button-explores > .btn {
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    opacity: 0;
    top: -1em;
    position: relative;
}
#button-explores.show > .btn {
    opacity: 1;
    top: 0;
}
.no-visible,
.typed {
    visibility: hidden;
}
.no-visible.show,
.typed.show {
    visibility: visible;
}
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.text-center-xxs {
    text-align: center;
}
.text-right-xxs {
    text-align: right;
}
.text-left-xxs {
    text-align: right;
}

@media (min-width: 540px) {
    .text-center-xxs,
    .text-right-xxs,
    .text-left-xxs {
        text-align: inherit;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .pull-right-sm {
        float:right;
    }
    .text-center-xs,
    .text-right-xs,
    .text-left-xs {
        text-align: inherit;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .pull-right-md {
        float:right;
    }
    .text-center-sm,
    .text-center-sm,
    .text-center-sm {
        text-align: inherit;
    }
    .text-right-md {
        text-align: right;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .text-center-md,
    .text-center-md,
    .text-center-md {
        text-align: inherit;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
}
/**
 * global
 */
.wrapper {}
/* Home
 ---------------------------- */
 #show-case-icon {
    -webkit-transition: all ease 100ms;
    -moz-transition: all ease 100ms;
    -ms-transition: all ease 100ms;
    transition: all ease 100ms;
}/* 
#service-show .active.size-90-rounded {
    -webkit-box-shadow: inset 10px 0px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 10px 0px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 10px 0px 0 rgba(0, 0, 0, .1)
} */

.show-case-icon {
    line-height: 90px;
    height: 100%;
    border-radius: .2em;
    font-size: 3em;
    text-align: center;
}
/* 404
 ---------------------------- */
h1.big-text {
    position: relative;
    top: 20vh;
    font-size: 40vh;
}
h1.big-text + h3,
h1.big-text + h3 + h3 {
    position: relative;
    top:22vh;
    font-size: 1.3em;
    letter-spacing: 1px;
}
h1.big-text + h3 + h3 a {
    font-size: .7em;
    color:#fff;
}
h1.info-text {
    line-height: 1.8;
}
h2.info-text-lite {
    font-weight: 300;
    line-height: 1.8;
    font-size: 1.7em;
    margin: 0;
}
@media (max-width: 720px) {
    h1.info-text {
        font-size: 2em;
    }
    h2.info-text-lite {
        font-size: 1.4em;
    }
}
@media (max-width: 540px) {
    h2.info-text-lite {
        font-size: 1.2em;
    }
}
.social-icons {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.4em;
    text-align: center;
    border-radius: .1em;
    display: inline-block;
    margin: 10px 5px;
    color: #fff;
    background-color: rgba(193, 193, 193, 1);
    -webkit-transition: background-color ease 100ms;
    -moz-transition: background-color ease 100ms;
    -ms-transition: background-color ease 100ms;
    transition: background-color ease 100ms;
}
.social-icons:hover,
.social-icons:focus,
.social-icons:active {
    color: #fff;
}
.social-facebook:hover,
.social-facebook:focus,
.social-facebook:active {
    background-color: rgba(59, 89, 152, 1);
}
.social-twitter:hover,
.social-twitter:focus,
.social-twitter:active {
    background-color: rgba(85, 172, 238, 1);
}
.social-github:hover,
.social-github:focus,
.social-github:active {
    background-color: rgba(23, 21, 21, 1);
}